h1 {
    color: #1a16f5;
    text-align: center;
}
h2 {
    color: #0066ff;
    text-align: center;
}

p {
    line-height: 1.6;
    text-align: center;
}
li {
    line-height: 1.6;
    text-align: center;
}
footer {
    margin-top: 40px;
    text-align: center;
    color: #6582ff;
}
body {
    font-family: sans-serif;
    background-color: #f4f4f4;
}